body {
  margin: 0;
  padding: 0;
}

$blackColor: black;


.header {
  width: 100%;
  height: 150px;
  background-color: $blackColor;
  color: pink;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 3em;
}

.threeline>img {
  display: none;
  height: 50%;
  width: 20%;
}
.container {
  display: flex;
  flex-direction: row;
}
.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;

}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frontPage {
  display:flex;
  align-items: center;
  justify-content: center;
  #doorPhoto {
    position: relative;
    height: 100%;
    width:100%;
  }
  #newLocation {
    position: absolute;
  }
}

.costTitle {
  margin: -10px;
}

.cost {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.costChoice {
  display: flex;
  width: 48%;
  margin-right: 2%;
  margin-bottom: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.costChoice>img {
  width: 100%;
  height: 100%;
}


.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $blackColor;
  color: white;
  .footerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
@media screen and (max-width: 960px) {
  .aside {
    display: none;
  }
  .cost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .costChoice>img {
    width: 100%;
    height: 50%;
  }
}
