body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 200px 1fr;
  border: 1px solid black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: 1 / 1 / 2 / 4;
  border: 1px solid black;
  height: 200px;
}

.menu img {
  height: 80%;
}

.logo {
  background-color: black;
  color: white;
  margin-left: 50px;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
