body {
  margin: 0;
  padding: 0;
}

.topNavBar {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  #threeLine{
    height: 50px;
    width: 50px;
  }
  .logo {
    color: white;
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  #doorPhoto {
    position: relative;
  }
  #newLocation {
    position: absolute;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  color: white;
  .footerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
